.review {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review__content {
    height: 600px;
    max-height: 100%;
    width: 100%;
    max-width: 900px;
    padding: 16px;
}

.review__loading-indicator,
.review__finished {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review__card-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 8px;
}

.review__card {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.review__card-content-wrapper {
    width: 100%;
    height: 100%;
}

.review__card-content {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: pre-line;
}

.review__card .review__divider {
    position: static;
}

.answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.answer__slider-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.answer__slider {
    width: 100%;
}

.answer__back,
.answer__slider-label,
.answer__submit-answer {
    height: min-content;
    flex: none;
}

@media (max-width: 550px) {
    .answer__slider-label {
        display: none;
    }
}
