<div class="courses">
    <div class="courses__list-container">
        <mat-spinner *ngIf="loading$ | async"></mat-spinner>
        <mat-nav-list *ngIf="!(loading$ | async) && (courses$ | async) as courses" class="courses__list">
            <mat-list-item
                *ngFor="let course of courses; last as last"
                class="courses__list-item"
            >
                <a matLine routerLink="/courses/{{course.id}}">
                    <span [matBadge]="course.due" matBadgeOverlap="false">
                        {{ course.name }}
                    </span>
                </a>
                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </mat-list-item>
        </mat-nav-list>
    </div>
</div>
