<div class="courses">
    <mat-spinner *ngIf="loading$ | async"></mat-spinner>
    <div *ngIf="!(loading$ | async) && (courses$ | async) as courses"  class="courses__list-container">
        <mat-nav-list class="courses__list">
            <mat-list-item
                *ngFor="let course of courses; last as last"
                class="courses__list-item"
            >
                <a matLine routerLink="/courses/{{course.id}}">
                    <span
                        [matBadge]="course.due"
                        [matBadgeHidden]="!course.due"
                        matBadgeOverlap="false"
                    >
                        {{ course.name }}
                    </span>
                </a>
                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </mat-list-item>
        </mat-nav-list>
        <button
            mat-fab
            class="courses__add-course"
            [disabled]="saving$ | async"
            (click)="addCourse()"
        >
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
