.courses {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.courses__header {
    justify-content: center;
}

.courses__loading-indicator {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.courses__content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 16px;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.courses__list-container {
    position: relative;
    height: 600px;
    max-height: 100%;
}

.courses__title,
.courses__list-container {
    width: 100%;
    max-width: 1000px;
}

.courses__list {
    width: 100%;
    height: 100%;
}

:host .courses__list-item ::ng-deep .mat-list-text,
:host .courses__list-item ::ng-deep .mat-line {
    overflow: visible;
}

.courses__add-course {
    position: absolute;
    right: 0;
    bottom: 0;
}
