<div class="card-edit-dialog">
    <h1 mat-dialog-title>Новая карточка</h1>
    <form [formGroup]="formGroup" (ngSubmit)="save()">
        <div mat-dialog-content>
            <mat-form-field appearance="fill" class="card-edit-dialog__form-field">
                <mat-label>Условие активации</mat-label>
                <textarea matInput formControlName="activationCondition"></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill" class="card-edit-dialog__form-field">
                <mat-label>Теги</mat-label>
                <textarea matInput formControlName="tags"></textarea>
            </mat-form-field>
            <div class="card-edit-dialog__card-types">
                <mat-form-field appearance="fill" class="card-edit-dialog__form-field">
                    <mat-label>Тип карточки</mat-label>
                    <mat-select
                        formControlName="cardTypeId"
                        (selectionChange)="selectCardType($event)"
                    >
                        <mat-option *ngFor="let cardType of cardTypes$ | async" [value]="cardType.id">
                            {{cardType.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="card-edit-dialog__add-card-type-wrapper">
                    <button
                        class="card-edit-dialog__add-card-type"
                        type="button"
                        mat-icon-button
                        (click)="addCardType()"
                    >
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
            <ng-container *ngIf="cardTypeSelected" formArrayName="fields">
                <h2>Поля:</h2>
                <mat-form-field
                    appearance="fill"
                    *ngFor="let field of cardTypeSelected.fields; index as i"
                    class="card-edit-dialog__form-field"
                >
                    <mat-label>{{field.name}}</mat-label>
                    <textarea matInput [formControlName]="i"></textarea>
                </mat-form-field>
            </ng-container>
        </div>
        <div mat-dialog-actions class="card-edit-dialog__actions">
            <button
                type="submit"
                mat-raised-button
                color="primary"
                [disabled]="(saving$ | async) || (loading$ | async)"
            >
                Сохранить
            </button>
            <button
                type="button"
                mat-raised-button
                [mat-dialog-close]=""
            >
                Закрыть
            </button>
        </div>
    </form>
</div>
